


  <div class="container-fluid" id="content">

  <div class="top-tiles-wrapper">

    <div class="top-tiles">

      <div class="left-tile">
        <h1>Assay Descriptions</h1>
        <div class="summary" id="main_summary">
          Experimental data and methodology for each high throughput screen
        </div>

        <app-dropdown [types]="getDistinctTypes()" (typeSelected)="onTypeSelected($event)"></app-dropdown>
        <div class="flex-container">
          <label for="statusSelect">Status:</label>
          <select style="width: 50%;" id="statusSelect" class="custom-select" (change)="setStatusView($event.target.value)">
          <option value="All">
            See All ({{ statusCounts['All'] || 0 }})
          </option>

          <option *ngFor="let s of flatStatuses" [value]="s.status">
            {{ s.group }}: {{ s.status }}
            ({{ statusCounts[s.status] || 0 }})
          </option>
          </select>
        </div>

        <div class="flex-container search-bar">
          <label for="typeSelect">Search:</label>
          <input class="form-control" [(ngModel)]="queryString" type="text"
                 (keydown.enter)="onEnter()"
                 placeholder="search by assay ID, title, summary, purpose, or indication">
          <button mat-raised-button *ngIf="showClearButton" (click)="clearSearch()">Clear Search</button>
        </div>

        <p id="assaysFound" *ngIf="assaysFound > 0">Total assays found: ({{ assaysFound }})</p>
        <p id="noResMessage" *ngIf="assaysFound === 0">No assays found for your search</p>
      </div>

      <!-- Right Tile -->
      <div class="right-tile">
        <ul class="stat-list">
          <li class="stat-item">
            <span class="stat-label">Total Assays in the Workflow</span>
            <span class="stat-value" (click)="showDetails()">{{ totalAssays }}</span>
          </li>
          <li class="stat-item">
            <span class="stat-label">Published Primary Data</span>
            <span class="stat-value">{{publishedPdataNum}}</span>
          </li>
          <li class="stat-item">
            <span class="stat-label">Dose Response Data</span>
            <span class="stat-sub">
              Published: <span class="stat-value">{{publishshedDrNum}}</span>
              &nbsp;|&nbsp;
              Pending: <span class="stat-value">{{pendingAssayNum}}</span>
            </span>
          </li>
          <!-- <li class="stat-item">
            <span class="stat-label">Published Dose Response Data</span>
            <span class="stat-value">{{publishshedDrNum}}</span>
          </li> -->
          <!-- <li class="stat-item">
            <span class="stat-label">Assays Pending Publication</span>
            <span class="stat-value">{{pendingAssayNum}}</span>
          </li> -->

          <!-- <li class="stat-item">
            <span class="stat-label">Primary Data</span>
            <span class="stat-sub">
              Published: <span class="stat-value">{{publishedPdataNum}}</span>
              &nbsp;|&nbsp;
              Unavailable: <span class="stat-value">{{unavailablePrimaryNum}}</span>
            </span>
          </li> -->
          <li class="stat-item">
            <span class="stat-label">Unavailable Primary Data<br><i>data not shared with ReFRAME team</i></span>
            <span class="stat-value">{{unavailablePrimaryNum}}</span>
          </li>
          <!-- <li class="stat-item">
            <span class="stat-label">Secondary Screens</span>
            <span class="stat-value">{{secondaryNum}}</span>
          </li> -->
        </ul>
      </div>

    </div>
  </div>
<hr class="section-separator">
  <div class="row flex-row">

    <div *ngFor="let assay of selAssays" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch assay-type">

      <div class='card'>

<div class="card-header text-center">

  <div class="header-top">
    <div class="id">
      {{ assay.assay_id }}
    </div>

    <div class="status">
      <span
        class="status-indicator"
        [ngStyle]="{'background-color': getStatusColor(assay.status)}"
      >
        {{ assay.status }}
      </span>
    </div>
  </div>

  <div class="card-title">
    <a [routerLink]="['/assays/', assay.assay_id]">
      <span [outerHTML]="assay.title | sciItalicize"></span>
    </a>
  </div>

</div>



        <div class="card-text mb-2">
          <a [routerLink]="['/assays/', assay.assay_id]">
            <span [outerHTML]="assay.summary | sciItalicize">
            </span>
          </a>
        </div>

        <div class="flexP">
          <div class="flexC indication-group">
            <mat-chip-list class="">
              <mat-chip class="indication mr-auto" (click)="filterIndic(assay.indication)" [ngStyle]="{'background-color': colorSvc.getIndicColor(assay.indication)['bg1'], 'color': colorSvc.getIndicColor(assay.indication)['font1']}">
                <span [outerHTML]="assay.indication | sciItalicize">
                </span>
              </mat-chip>
            </mat-chip-list>
          </div>

          <div class="flexC">
            <mat-chip-list class="text-right">
              <mat-chip class="type text-right" *ngFor="let type of assay.type_arr" (click)="onTypeSelected(type)" [ngStyle]="{'background-color': getTypeColor(type)[0], 'border': '1px solid ' + getTypeColor(type)[1], 'color': getTypeColor(type)[1]}">
                {{ type | standardizeAssayType }}
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
