/* ---------------------------
   -- header --
---------------------------- */
.blue-fill {
  background-color: #f5f8fd;
  padding-top: 6px;
  padding-bottom: 12px;
  margin-bottom: 6px;
  border-bottom: 3px solid #7f9feb;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: -webkit-inline-box;
  border-right: 3px white solid;

  img {
    margin-top: 0;
    width: 40px;
    vertical-align: top;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: unset;

  .site-name {
    font-size: 1.4em;
    margin-left: 12px;
  }

  .site-subtitle {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    opacity: 0.65;
    line-height: 1em;
    margin-left: 12px;

    .wide {
      letter-spacing: 1px;
    }

    .narrow {
      letter-spacing: -0.2px;
    }
  }

  a:hover {
    text-decoration: none;
  }
}

.navbar-nav {
  align-items: flex-end;
  padding-top: 0.5em;

  li {
    padding-top: 5px;
  }
}

/* Search box */
.search {
  display: flex;
}

/* Reveal / dropdown panel */
.reveal {
  height: 0;
  width: 0;
  overflow: hidden;
  background: #f5f8fd;
  border-bottom-left-radius: 15px;
  transition: height 0.3s linear;

  &.open {
    height: 200px;
    width: 100%;
    z-index: 10;
    padding-right: 15px;
  }

  &.sign-in {
    margin-top: 16px;
  }

  &.show.logout {
    height: auto;
    width: 100%;
  }
}

/* Sign-in link */
.sign-in {
  cursor: pointer;
}

/* ---------------------------
   Modern top nav hover
---------------------------- */
.navbar-nav li.menu-item a {
        text-decoration: none;

  position: relative;
  color: #212529;
  font-weight: 500;
  padding: 4px 6px;
  transition: color 0.25s ease, transform 0.25s ease;

  &:hover {
    color: #3d6de0; /* accent blue */
    transform: translateY(-2px);
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: #3d6de0;
    border-radius: 2px;
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }
}

li.sign-in a {
  font-weight: 600;
  color: #3d6de0;

  &:hover {
    color: #335cc0;
    transform: translateY(-1px);
  }
}

/* ---------------------------
   Media queries
---------------------------- */
@media only screen and (min-width: 992px) {
  .navbar-collapse {
    height: auto;
    width: auto;
  }

  .navbar-nav {
    align-items: center;

    li {
      padding-top: 0;
    }
  }

  .reveal {
    &:not(.logout) {
      position: absolute;
      top: 62px;
      right: 0;
    }

    &.open {
      height: 110px;
      width: 530px;
    }

    &.logout {
      height: auto;
      width: auto;
    }
  }
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    max-height: 0;
    width: 100%;
    overflow: hidden;
    transition: max-height 1s ease-in-out;

    *:not(.user-login) {
      max-height: 0;
      min-height: unset;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;
    }

    &.show {
      max-height: 500px;

      *:not(.user-login) {
        max-height: 500px;
      }
    }
  }

  .navbar-expand-lg {
    flex-direction: column;
  }

  .top-nav {
    display: flex;
  }

  .search {
    align-self: flex-start;
    padding-left: 1em;
  }
}
