.flex-container {
  display: flex;
  align-items: center; /* Aligns items vertically */
}

.flex-container label {
  margin-right: 20px; /* Space between label and select */
  white-space: nowrap; /* Prevents the label from wrapping */
}

.custom-select {
  display: inline-block; /* Ensure it doesn't take the full width */
  position: relative; /* Needed for positioning the pseudo-elements */
}

.custom-select select {
  appearance: none;
  width: 40% !important; /* Set a specific width */
  font-size: 1.15rem;
  padding: 0.675em 1em; /* Adjust padding as needed */
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}
