<div class="container">
  <h2><span class="bold">ReFRAME Workflow</span></h2>
  <div class='about-descrip'>
    <div class="about-container">
      <p>
        To ensure a successful and efficient screen, please review the entire process. 
        Standardized, linear-staged workflows and automation allow us to work with many partners at once. 
        While we can sometimes accommodate alternative workflows, it is important to finalize everything before screening begins.
      </p>
    </div>
    <h4>Before Screening Begins</h4>
    <div class="about-container">
      <ol>
        <li>MTA or Collaboration Agreement Signed (provided by Kelli Kuhen, Director of Global Health)</li>
        <li>Final <a href="../../assets/workflow/1_AssayRegistration.Description.docx" download>Assay Description</a> form for ReFRAMEDB.org delivered to <a href="mailto:reframescreens@scripps.edu">reframescreens@scripps.edu</a></li>
        <li>Final <a href="../../assets/workflow/1_AssayRegistration.PlateLayout_new.xlsx" download>Plate Layout</a> form delivered to <a href="mailto:reframescreens@scripps.edu">reframescreens@scripps.edu</a></li>
        <li>By default, partner agrees to a standard primary screen (singlicate) and two dose response sets for initial follow-up on. 
          Dose sets are provided as replicate plates. Plates are prepared as 10-point 1:3 serial dilutions, starting at 10 μM unless otherwise discussed. 
          Exceptions must be approved by the ReFRAME committee. For these the partner must complete the <a href="../../assets/workflow/supplemental_QuantityException.docx" download>Quantity Exception</a> form. 
          More information on standard usage can be found <a href="../../assets/workflow/0_Can_I_use_Reframe.docx" download>here</a>.</li>
        <li>Optional: Partner sends Calibr controls dissolved in DMSO. Active concentration adjusted to match volume of the screening compounds whenever possible.</li>
      </ol>
    </div>
    <h4>Screening Round 1</h4>
    <div class="about-container">
      <ol>
        <li>Calibr sends partner <a href="../../assets/workflow/1_Regarding Pre-spotted Plates.docx" download>pre-spotted plates</a> and compound keys (as blinded RFM IDs) for primary screen.</li>
        <li>Partner performs screen and select hits (up to 1% of the library)</li>
        <li>Partner sends hitlist as RFM IDs using the <a href="../../assets/workflow/2_PrimaryScreeningHits.xlsx" download>Primary Screening</a> form.</li>
        <li>Calibr sends partner two sets of pre-spotted dose response plates.</li>
        <li>Collaborator sends Calibr dose response data via <a href="../../assets/workflow/3_DoseResponseData.xlsx" download>Dose Response Data</a> form</li>
        <li>Calibr sends collaborator structure and identities of confirmed hits</li>
      </ol>
    </div>
    <h4>Additional Counter Screens (On ReFRAME committee approval)</h4>
    <div class="about-container">
      <ol>
        <li>In some cases, additional material for counter screen assays can be provided by Calibr. 
          Requests for additional material or other resources will be reviewed by the ReFRAME committee. 
          Partners are asked to complete Screening Round 1 before additional requests for compounds.</li>
      </ol>
    </div>
    <h4>Post Screening Begins</h4>
    <div class="about-container">
      <ol>
        <li>Dose response data uploaded to ReFRAMEdb.org by Calibr 1 year after partner receives structure identities. 
          Partner can contact Calibr to request a delay under some circumstances.</li>
        <li>Public success is the best way for our partners to support the ReFRAME project. 
          Please notify Calibr of any publications, grants or studies that resulted from the ReFRAME screen using the <a href="../../assets/workflow/3_Milestone_Check_In.docx" download>Milestone</a> document.</li>
      </ol>
    </div>
  </div>
  
  
</div>
