.logo {
  display: -webkit-inline-box;
  border-right: 3px white solid;
}

.logo img {
  margin-top: 0px;
  width: 40px;
  vertical-align: top;
}

.name {
  display: -webkit-inline-box;
  margin-top: 7px;
  margin-left: 12px;
  margin-right: 12px;
}

.name a:hover {
  text-decoration: none;
}


header ul, footer ul {
  list-style-type: none;
}

header li, footer li {
  display: inline-block;
  opacity: 0.8;
  padding-left: 12px;
  padding-right: 12px;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  flex: 1 0 auto;
}
