<div class="ontology-panel">

  <!-- Header row -->
  <div class="ontology-header">
    <!-- Search -->
    <form class="search-form">
      <mat-icon>search</mat-icon>
<label for="search-box-add2"><mat-icon>search</mat-icon></label>
      <input #searchInput id="search-box-add2" type="text" autofocus placeholder="search for moa, drug names, and inchikeys" name="quick-search form-control" matInput [formControl]="myControl" [matAutocomplete]="auto" forceSelection="preferred_name" [(ngModel)]="search_id" (keyup.enter)="searchTree()">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="getTitle.bind(this)" [panelWidth]="600">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.id">
          {{option.preferred_name}}{{option.parent_name}}
        </mat-option>
      </mat-autocomplete>
    </form>


    <!-- Ontology buttons -->
    <div class="ontology-buttons">
<button class="btn" [class.active]="src==0" name="0" (click)="switch_ontology_source($event)">Pharmacological Role</button>
<button class="btn" [class.active]="src==1" name="1" (click)="switch_ontology_source($event)">Biological Role</button>
<button class="btn" [class.active]="src==2" name="2" (click)="switch_ontology_source($event)">Chemical Role</button>
<button class="btn" [class.active]="src==3" name="3" (click)="switch_ontology_source($event)">Target Interaction Type</button>
<button class="btn" [class.active]="src==4" name="4" (click)="switch_ontology_source($event)">Target</button>

    </div>
  </div>

  <!-- Ontology Tree -->
  <div class="tree-container">
    <h1>Ontology Tree</h1>
    <div class="d3-chart tree" #chart></div>
  </div>

  <!-- Instructions toggle -->
  <div class="instructions-toggle">
    <button (click)="toggleCollapse()" type="button" class="btn">
      {{instructions ? "Show Instructions" : "Hide Instructions"}}
    </button>
  </div>

  <!-- Instructions panel -->
  <ng-container *ngIf="visible">
    <div class="instructions-panel">
      <div class="capabilities">
        <h6>How to use the ontology tree</h6>
        <ul>
          <li>Fit the tree to your window
            <ul>
              <li>Click and drag to move</li>
              <li>Zoom with scroll wheel</li>
            </ul>
          </li>
          <li>Toggle data sources with buttons above</li>
          <li>Search using the search box
            <ul>
              <li>Select and hit Enter</li>
            </ul>
          </li>
          <li>Click compound nodes for drug profile</li>
          <li>
            Green nodes = specific MoA
            <ul>
              <li>Right-click to download associated drugs</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>

</div>
